---
import Layout from "../Layout.astro";

import Sidebar from '../components/Sidebar.svelte';
import MainPanel from '../components/mainpanel/FanArts.svelte';

let currentPath = Astro.url.pathname;
---

<Layout>
    <div class="main">
        <Sidebar currentPath={currentPath} />
        <MainPanel />
    </div>
</Layout>

<style>
    .main {
        display: flex;
        flex: 1;
    }
</style>
