---
import Layout from "../Layout.astro";

import Sidebar from '../components/Sidebar.svelte';
import MainPanel from '../components/mainpanel/FanArts.svelte';
---

<Layout>
    <div class="main">
        <Sidebar />
        <MainPanel />
    </div>
</Layout>

<style>
    .main {
        display: flex;
        flex: 1;
    }
</style>