<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/assets/images/spin.gif" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="preload"
            href="/assets/funkin.ttf"
            as="font"
            type="font/ttf"
            crossorigin
        />
        <title>Baran's Website</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>

:root {
    --background: rgba(20, 20, 20, 1);
    --sidebar: rgba(15, 15, 15, 1);
    --text: rgba(255, 255, 255, 1);
    --secondaryText: rgba(0, 0, 0, 1);
    
    --primary: rgba(0, 255, 0, 1);
    --secondary: rgba(0, 177, 0, 1);
    --border: rgba(0, 150, 0, 1);
    
    --sidebarRightBorder: rgba(30, 30, 30, 1);

    --discord: #5865F2;
    --bluesky: #0085FF;
    --youtube: #FF0000;
    --gamebanana: #F8D80D;
    --gamejolt: #2F7F6F;
    --tiktok: #000000;
    --newgrounds: #FDA238;
    --github: #181717;
    --scratch: #4D97FF;
    --itchio: #FA5C5C;
    --soundcloud: #FF3300;
    --x: #000000;
}

@font-face {
    font-family: "funkin";
    src: url("/assets/funkin.ttf") format("truetype");
    font-display: swap;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: funkin;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

</style>