<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <title>Baran's Website</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>

:root {
    --background: rgba(0, 0, 0, 1);
    --text: rgba(255, 255, 255, 1);
    --secondaryText: rgba(0, 0, 0, 1);
    
    --primary: rgba(0, 255, 0, 1);
    --secondary: rgba(0, 177, 0, 1);
    --border: rgba(0, 150, 0, 1);
    
    --sidebarRightBorder: rgba(30, 30, 30, 1);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

</style>